@tailwind base;
@tailwind components;
@tailwind utilities;

.searchComponent {
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.paper{
    padding: 1rem;
}
.textField {
    margin: 0.5rem!important;
    width: 400
}
.button{
    background-color: #1976d2 !important;
    color: #fff !important;
    margin: 0.5rem;
    padding: 0.5rem;
}
.custom-form-select{
    margin: 0.5rem;
    padding: 0.5rem;
}